<footer>
    <div class="container">
        <div class="flex justify-center align-items">
            <div class="footer-text">
            Copyright &#169;<a href="/"> Imran Khan</a>
        </div>
            <nav>
                <ul>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
<script src="/javascripts/script.js"></script>
</body>
</html>