
        <nav>
        <div class="brand">Event Management</div>
        <label for="drop" class="toggle"><i class="fa fa-bars"></i></label>
        <input type="checkbox" id="drop" />
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li>
                    <label for="drop-1" class="toggle">Events <i class="fa fa-angle-down"></i></label>
                    <a href="#">Events <i class="fa fa-angle-down"></i></a>
                    <input type="checkbox" id="drop-1"/>
                    <ul>
                        <li><a href="/events">Events List</a></li>
                        <li><a href="/events/new">Add Events</a></li>
                    </ul> 

                </li>
                <li>
                    <label for="drop-2" class="toggle">Category <i class="fa fa-angle-down"></i></label>
                    <a href="#">Category <i class="fa fa-angle-down"></i></a>
                    <input type="checkbox" id="drop-2"/>
                    <ul>
                        <li><a href="/categories">Categories</a></li>
                        <li><a href="/categories/new">Add Category</a></li>
                    </ul> 

                </li>
            </ul>
        </nav>